body {
    background: rgb(100,204,197);
    background: linear-gradient(145deg, #49A2A2 0%, rgba(4,54,74,1) 100%);
    color: #ffffffb0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Sawarabi Gothic';
}
p {
    font-size: 24px;
    margin-top: 0px;
}
.container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 30%;
    margin-bottom: 100px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formCampo {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
label {
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
}
input[type="submit"]{
    letter-spacing: 2px;
    width: 100%;
    border: none;
    padding: 15px;
    color: #04364A;
    background-color: #ffffff6e;
}
input {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    background-color: #ffffff00;
    border-bottom: 2px solid #ffffff6e; 
    font-size: 20px;
    color: #ffffff;
}
input:focus{
    outline: none;
    border-color: #ffffff;
    font-size: 24px;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ffffff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}