

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    position: relative;
    z-index: 4;
}

.nav-links {
    list-style: none;
    position: fixed;
    top: -800px;
    right: 0;
    width: 20%;
    background-color: #528A92;
    text-align: right;
    margin: 0;
    padding: 0;
    transition: top 0.3s ease, right 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100vh;
}

.nav-links li {
    margin: 20px;
    text-align: left;
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.nav-links .submenu {
    list-style: none;
    position: relative;
    display: none;
    padding: 0;
}

.nav-links .submenu li {
    margin: 0;
}

.nav-links .submenu li a {
    padding: 10px;
    font-size: 20px;
}

.nav-links .has-submenu.active .submenu {
    display: block;
}

.nav-links.active {
    top: 0;
    right: 0;
}

.menu-btn {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 20px;
    top: -10px;
}

.menu-btn__burger {
    display: none;
}
.separador{
    color: #FFFFFF90;
}
.menu-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 5;
}
.usuario{
    position: absolute;
    top: -10px;
    margin-left: 20px;
}
.separadorUsuario{
    display: flex;
    align-items: center;
    color: whitesmoke;
    position: fixed;
    top: 17px;
    right: 60px;
    margin: 0px;
}
@media(max-width:1000px){
    .nav-links{
        width: 30%;
    }
}
@media(max-width:700px){
    .nav-links{
        width: 40%;
    }
}
@media(max-width:500px){
    .nav-links{
        width: 50%;
    }
    .menu-btn{
        width: 100px;
    }

}